a.link {
    display: block;
    color: $color-primary;
    border-bottom: 3px solid transparent;
    &:hover {
        border-bottom: 3px solid $color-primary;
        color: lighten($color-primary, 10%);
        text-decoration: none;
    }
}

a.link-active {
    border-bottom: 3px solid $color-primary;
}

a.link {
    @include media-breakpoint-down(sm) {
        border-bottom: 3px solid transparent !important;
    }
}